 *
 {
background-color: grey;
}

#logo {

  color: black;
}

#title {
  float: right;
  width: 100%;

}
form {
                width:200px;
                margin:20px auto;

}

.footer{
  text-align: center;
  font-size: 14px;


}
